@{
    ViewData["Title"] = "search using error name";
}
<h1>@ViewData["Title"]</h1>
<style>
    body {
        font-family: "Segoe UI", Tahoma;
        background: #f4f6f9;
        margin: 0;
        padding: 0;
    }

</style>

<p>Use this page to put the error name and show the details</p>
<form asp-action="Searchusingname" method="post">
    <div class="form-group">
        <label for="codename">Enter Error Name:</label>
        <input type="text" id="codename" name="codename" class="form-control" placeholder="Error Name" />
    </div>

    <button type="submit" class="btn btn-primary">Search</button>
</form>

@if (!string.IsNullOrEmpty(ViewBag.Message))
{
    <p class="text-danger">@ViewBag.Message</p>
}